* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
    font-weight: 400;
    color: #a6adc8;
}

body {
    font-size: 16px;
    background-color: black;
}

.socials a {
    margin-right: 2.5px;
    margin-left: 2.5px
}

.socials img {
    height: 30px;
    width: auto;
    object-fit: contain;
}

img {
    filter: invert(85%) sepia(7%) saturate(911%) hue-rotate(192deg) brightness(82%) contrast(90%);
}

.source-container {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 1000;
}